@page
@model Vask_En_Tid.Pages.CreateUserModel
@{
}
<form method="post" enctype="multipart/form-data">
	<input type="number" asp-for="Resident.ResidentID" placeholder="ID" />
	<input type="text" asp-for="Resident.ResidentName" placeholder="Navn" />
	<input type="text" asp-for="Resident.City" placeholder="By" />
	<input type="text" asp-for="Resident.PostNr" placeholder="Post Nummer" />
	<input type="text" asp-for="Resident.PhoneNumber" placeholder="Telefon Nummer" />
	<input type="text" asp-for="Resident.Email" placeholder="Email" />
	<input type="number" asp-for="Resident.ApartmentNr" placeholder="Lejligheds Nummer" />
	<input type="number" asp-for="Resident.FloorNr" placeholder="Etage Nummer" />


	<input type="submit" value="Gem">
</form>
